body {
  background-color: #FAEBD7  !important;
}

p {
  white-space: pre-line;
}

h3 {
  margin-left: 10px;
}

input {
  border-radius: 6px;
}

.ing-input-labels {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.inginput1 {
  width: 40px;
}

.inginput2 {
  width 60px;
}

.inginput3 {
  width: 200px;
}

.recipe-title {
  color: #14CD96;
  text-align: center;
}

.recipe-author, .recipe-prep-time {
  color: #000666;
  text-align: center;
}

.recipe-ingredient {
  color: #000;
  text-align: center;
  font-size: 1.5em;
}

.create-container .ingredients-input-group select {
  line-height: 1.3em;
  font-size: 1.3em;
}

.create-container .ingredients-input-group .ing-input-wrapper {
  margin-top: 5px;
}

.create-container .category-input-group select {
  line-height: 1.3em;
  font-size: 1.3em;
}

#create-instructions {
  height: 300px;
}

.create-button-group {
  margin-top: 30px;
}

#add_ing_rows {
  margin: 5% auto;
  text-align: center;
}

/*Planner*/
.grocery-list-container {
  width: 85%;
}

.planner-category-headers {
  color: #712029;
}

.planner-meal-plan-wrapper {
  margin-top: 30px;
}
