extends layout

-
  $(document).ready(function() {
    $("#recipe_list_body").hide();
  })

block content
  a(href="/recipe/create") Add a New Recipe
  h1(id="main_title") Crudite
  div(id="recipe_list")
    ul.recipes
      each recipe in recipes
        div(id="recipe_list_item")
          li
            h2
              a(href="/recipe/#{recipe.id}")= recipe.title
            div(id="recipe_list_body")
              each ingredient in recipe.ingredients
                p=ingredient

              //Display first portion of instructions
              div(id="recipe_list_item_inst")
                - var str = recipe.instructions.substr(0, 150);
                p= str + "..."
