extends layout

block content
  .container
    +nav("Crudite", "dropdown_menu")
      +nav_item( "/", "inactive" ) Home
      +nav_item("/recipe/create", "inactive") Add New
      +nav_item("/planner", "active") Meal Planner
      form(class="navbar-form navbar-left", role="search", method="post", action=post ? "/search" : "/search")
        div(class="form-group")
          input(name="searchinput" type="text" class="form-control", placeholder="Search")
        button#search(type="submit", class="btn btn-default") Submit
  .container
    div(class="row" id="recipe_list")
      div(class="col-md-6")
        each category in categories
          div(class="list-group category_list_item")
            h2(class="planner-category-headers")= category.category
              span(class="category-icon")
            each recipe in category.recipes
              div(class="list-group-item recipe_list_body dragula-container")
                h3(data-recipeId="#{recipe.id}")
                  a(class="label label-info recipe_list_item" href="/recipe/#{recipe.id}")=recipe.title
      div(class="col-md-6 planner-meal-plan-wrapper")
        h2 Meal Plan
        div(class="well well-lg meal-planner dragula-container")
  .container(class="grocery-list-container")
    div(class="row" id="grocery-list-wrapper")
      div(class="col-md-4")
      div(class="col-md-4")
        ul.list-unstyled.grocery-list
      div(class="col-md-4")
      
